.App {
  text-align: center;
  background-color: wheat;
  width: 100vw;
  height: 100vh;
}

.app_body {
  width: 400px;
  height: 150px;
  margin: 0 auto;
  border: 1px solid brown;
overflow: hidden;
}
.footer {
    border-top: 1px solid #bebebe;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer_contacts {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    color: #231f20;
    font-size: 12px;
}
.test {
  opacity: 0;
}